In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup as soup
from urllib.request import Request, urlopen
import requests
import json

In [171]:
f_data = {
    'session_key': 'mail-your@gmail.com',
    'session_password': 'yourpasshere',
    'trk': 'guest_homepage-basic_sign-in-submit'
}

In [172]:
url = 'https://www.linkedin.com'
url2 = 'https://www.linkedin.com/uas/login-submit'
with requests.Session() as s:
    result = s.get(url,headers={'User-Agent': 'Mozilla/5.0'})
    
    page_soup = soup(result.content,"html.parser")
    f_data['loginCsrfParam'] = page_soup.find("input",attrs={"name":"loginCsrfParam"})['value']
    result2 = s.post(url2, data = f_data, headers={'User-Agent': 'Mozilla/5.0'})
    result3 = s.get('https://www.linkedin.com/search/results/people/?facetCurrentCompany=%5B"157240"%2C"1075"%2C"1956"%2C"163711"%2C"2229436"%2C"165565"%2C"505336"%5D')

In [180]:
#result3.content

In [173]:
page_soup2 = soup(result3.content,"html.parser")

In [174]:
t = page_soup2.findAll("code")[16].text[3:-1]
m = json.loads(t)

In [175]:
name = []
id = []
desig = []
add = []

In [176]:
for d in m['data']['elements'][1]['elements']:
    name.append(d['title']['text'])
    id.append(d['publicIdentifier'])
    desig.append(d['headline']['text'])
    add.append(d['subline']['text'])

In [177]:
df = pd.DataFrame()
df['name'] = name
df['id'] = id
df['desig'] = desig
df['add'] = add

In [178]:
df

,name,id,desig,add
0,Arjita Saxena,arjita-saxena-833297116,Analyst at Capgemini,"Pandharpur Area, India"
1,VAIBHAV SHUKLA,vaibhav-shukla-627021125,employee at capgemini,"Mumbai Area, India"
2,Harish Tyagi,harishtyagi,Analyst at Capgemini Netsuite | Certified Dell...,"Agra Area, India"
3,Pranjal Saxena,pranjalai,Open to work with cutting-edge technologies Ma...,"Bengaluru Area, India"
4,ADITYA KUMAR SINGH,aditya-kumar-singh-557111b9,Analyst,"Mumbai Area, India"
5,Vanshaj Bhatia,vanshajbhatia,Software Engineer at Capgemini,"Kalyan Area, India"
6,Sachin Saini,imsachinsaini,SAP Analyst,"Mumbai Area, India"
7,SHASHANK KAMAL,shashank-kamal,Analyst at Capgemini,"Allahabad Area, India"
8,Rahul Chauhan,rahulchauhan29,Java full stack developer at Capgemini,"Kalyan Area, India"
9,Nikita Kharade,nikita-kharade-97282499,Informatica PowerCenter Deveoper,India