In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup as soup
from urllib.request import Request, urlopen
import requests
import json

In [2]:
f_data = {
    'session_key': 'sonuresonance@gmail.com',
    'session_password': 'resonance3',
    'trk': 'guest_homepage-basic_sign-in-submit'
}

In [3]:
url = 'https://www.linkedin.com'
url2 = 'https://www.linkedin.com/uas/login-submit'
with requests.Session() as s:
    result = s.get(url,headers={'User-Agent': 'Mozilla/5.0'})
    
    page_soup = soup(result.content,"html.parser")
    f_data['loginCsrfParam'] = page_soup.find("input",attrs={"name":"loginCsrfParam"})['value']
    result2 = s.post(url2, data = f_data, headers={'User-Agent': 'Mozilla/5.0'})
    result3 = s.get('https://www.linkedin.com/search/results/people/?facetCurrentCompany=%5B%221318%22%2C%229437247%22%5D')

In [170]:
#result3.content

In [4]:
page_soup2 = soup(result3.content,"html.parser")

In [5]:
t = page_soup2.findAll("code")[16].text[3:-1]
m = json.loads(t)

In [6]:
name = []
id = []
desig = []
add = []

In [7]:
for d in m['data']['elements'][1]['elements']:
    name.append(d['title']['text'])
    id.append(d['publicIdentifier'])
    desig.append(d['headline']['text'])
    add.append(d['subline']['text'])

In [8]:
df = pd.DataFrame()
df['name'] = name
df['id'] = id
df['desig'] = desig
df['add'] = add

In [9]:
df

,name,id,desig,add
0,shubham gupta,shubham-gupta-03a079103,Project Engineer at Wipro Limited,"Bengaluru Area, India"
1,Rishabh Jain,rishabh-jain-9a1733103,Project Engineer at Wipro,"New Delhi Area, India"
2,Rishav Yadav,rishav-yadav-2150875b,Project Engineer,"Tiruppur Area, India"
3,Vishal Lavania,vishal-lavania-105a50128,Project Engineer at Wipro Limited,"Mathura Area, India"
4,Deepanshi Dubey,deepanshi-dubey-130bb1150,Project Engineer at Wipro Limited,"Aligarh Area, India"
5,Jatin Aggarwal,jatin-aggarwal-451041116,Project Engineer at Wipro,"Kalyan Area, India"
6,Abhishek Vats,abhishek-vats-19b111169,Project Engineer at Wipro Limited,"Agra Area, India"
7,Yugal Pratap Singh,yugal-pratap-singh-8b0821124,Project Engineer at Wipro Limited,"Mathura Area, India"
8,Vikas Upadhyay,vikas-upadhyay-b2a077114,Project Engineer at Wipro Limited,"Aligarh Area, India"
9,Priya Yadav,priya-yadav-264b9486,Analyst at Wipro Limited,"New Delhi Area, India"